.Menu{
  display: flex;
}
header{
  padding: 40px;
}
.Menu a:hover{background:#a37c7c; }
h1{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 40px;
}
.Menu a{
  width: 47%;
  padding: 50px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  background: #efcec5;
  margin: 2px;
}
